[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
}

[data-tooltip]:before {
  display: none;
  z-index: 1;
  position: absolute;
  content: attr(data-tooltip);
  white-space: nowrap;
  background: #333;
  color: #fff;;
  font-size: 12px;
  line-height: 1.5em;
  padding: 4px 8px;
}

[data-tooltip]:after {
  display: none;
  z-index: 1;
  position: absolute;
  content: "";
}

/* Default */
[data-tooltip]:before {
  top: calc(100% + 8px);
  left: calc(50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

[data-tooltip]:after {
  top: calc(100% + 2px);
  left: calc(50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #333;
}

/* Multiple definitions */
.tooltip-position-tl[data-tooltip]:before,
.tooltip-position-tl[data-tooltip]:after,
.tooltip-position-tr[data-tooltip]:before,
.tooltip-position-tr[data-tooltip]:after,
.tooltip-position-bl[data-tooltip]:before,
.tooltip-position-bl[data-tooltip]:after,
.tooltip-position-br[data-tooltip]:before,
.tooltip-position-br[data-tooltip]:after,
.tooltip-position-lt[data-tooltip]:before,
.tooltip-position-lt[data-tooltip]:after,
.tooltip-position-lb[data-tooltip]:before,
.tooltip-position-lb[data-tooltip]:after,
.tooltip-position-rt[data-tooltip]:before,
.tooltip-position-rt[data-tooltip]:after,
.tooltip-position-rb[data-tooltip]:before,
.tooltip-position-rb[data-tooltip]:after {
  transform: inherit;
  -webkit-transform: inherit;
  -moz-transform: inherit;
  -ms-transform: inherit;
}

.tooltip-position-tc[data-tooltip]:before,
.tooltip-position-tc[data-tooltip]:after,
.tooltip-position-bc[data-tooltip]:before,
.tooltip-position-bc[data-tooltip]:after {
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.tooltip-position-tl[data-tooltip]:before,
.tooltip-position-tc[data-tooltip]:before,
.tooltip-position-tr[data-tooltip]:before {
  top: calc(100% + 8px);
}

.tooltip-position-tl[data-tooltip]:after,
.tooltip-position-tc[data-tooltip]:after,
.tooltip-position-tr[data-tooltip]:after {
  top: calc(100% + 2px);
}

.tooltip-position-bl[data-tooltip]:before,
.tooltip-position-bl[data-tooltip]:after,
.tooltip-position-bc[data-tooltip]:before,
.tooltip-position-bc[data-tooltip]:after,
.tooltip-position-br[data-tooltip]:before,
.tooltip-position-br[data-tooltip]:after {
  top: inherit;
}

.tooltip-position-bl[data-tooltip]:before,
.tooltip-position-bc[data-tooltip]:before,
.tooltip-position-br[data-tooltip]:before {
  bottom: calc(100% + 8px);
}

.tooltip-position-bl[data-tooltip]:after,
.tooltip-position-bc[data-tooltip]:after,
.tooltip-position-br[data-tooltip]:after {
  bottom: calc(100% + 2px);
}

.tooltip-position-bl[data-tooltip]:after,
.tooltip-position-bc[data-tooltip]:after,
.tooltip-position-br[data-tooltip]:after {
  border-bottom: inherit;
  border-top: 6px solid #333;
}

.tooltip-position-tl[data-tooltip]:before,
.tooltip-position-bl[data-tooltip]:before {
  left: 0;
}

.tooltip-position-tl[data-tooltip]:after,
.tooltip-position-bl[data-tooltip]:after {
  left: 6px;
}

.tooltip-position-tc[data-tooltip]:before,
.tooltip-position-tc[data-tooltip]:after,
.tooltip-position-bc[data-tooltip]:before,
.tooltip-position-bc[data-tooltip]:after {
  left: calc(50%);
}

.tooltip-position-tr[data-tooltip]:before,
.tooltip-position-tr[data-tooltip]:after,
.tooltip-position-br[data-tooltip]:before,
.tooltip-position-br[data-tooltip]:after {
  left: inherit;
}

.tooltip-position-tr[data-tooltip]:before,
.tooltip-position-br[data-tooltip]:before {
  right: 0;
}

.tooltip-position-tr[data-tooltip]:after,
.tooltip-position-br[data-tooltip]:after {
  right: 6px;
}

/* Vertical */

.tooltip-position-lc[data-tooltip]:before,
.tooltip-position-lc[data-tooltip]:after,
.tooltip-position-rc[data-tooltip]:before,
.tooltip-position-rc[data-tooltip]:after {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.tooltip-position-lt[data-tooltip]:after,
.tooltip-position-lc[data-tooltip]:after,
.tooltip-position-lb[data-tooltip]:after,
.tooltip-position-rt[data-tooltip]:after,
.tooltip-position-rc[data-tooltip]:after,
.tooltip-position-rb[data-tooltip]:after {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.tooltip-position-lt[data-tooltip]:after,
.tooltip-position-lc[data-tooltip]:after,
.tooltip-position-lb[data-tooltip]:after {
  border-right: 6px solid #333;
  border-left: inherit; 
}

.tooltip-position-rt[data-tooltip]:after,
.tooltip-position-rc[data-tooltip]:after,
.tooltip-position-rb[data-tooltip]:after {
  border-left: 6px solid #333;
  border-right: inherit;
}

.tooltip-position-lt[data-tooltip]:before,
.tooltip-position-lc[data-tooltip]:before,
.tooltip-position-lb[data-tooltip]:before {
  left: calc(100% + 8px);
}

.tooltip-position-lt[data-tooltip]:after,
.tooltip-position-lc[data-tooltip]:after,
.tooltip-position-lb[data-tooltip]:after {
  left: calc(100% + 2px);
}

.tooltip-position-rt[data-tooltip]:before,
.tooltip-position-rc[data-tooltip]:before,
.tooltip-position-rb[data-tooltip]:before {
  left: inherit;
  right: calc(100% + 8px);
}

.tooltip-position-rt[data-tooltip]:after,
.tooltip-position-rc[data-tooltip]:after,
.tooltip-position-rb[data-tooltip]:after {
  left: inherit;
  right: calc(100% + 2px);
}

.tooltip-position-lb[data-tooltip]:before,
.tooltip-position-lb[data-tooltip]:after,
.tooltip-position-rb[data-tooltip]:before,
.tooltip-position-rb[data-tooltip]:after {
  top: inherit;
}

.tooltip-position-lt[data-tooltip]:before,
.tooltip-position-rt[data-tooltip]:before {
  top: 0;
}

.tooltip-position-lt[data-tooltip]:after,
.tooltip-position-rt[data-tooltip]:after {
  top: 2px;
}

.tooltip-position-lb[data-tooltip]:before,
.tooltip-position-rb[data-tooltip]:before {
  bottom: 0;
}

.tooltip-position-lb[data-tooltip]:after,
.tooltip-position-rb[data-tooltip]:after {
  bottom: 2px;
}